* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f7f7f7;
    font-family: 'Helvetica', sans-serif;
}

#app {
    height: 100vh;
    display: flex;
    width: 100vw;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    animation: slide-up 500ms cubic-bezier(0.14, 0.86, 0.58, 1) forwards;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 3px 3px 0 rgba(#000, .1);
    margin: auto;
    padding: 2rem;
}
